body {
    font-size: .875rem;
    overflow-x: hidden;
    font-family:'Raleway', sans-serif;
    font-weight:300;
}

h1, h2, h3, h4, h5 {
  font-family:'Raleway', sans-serif;
  font-weight: 700;
}
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
  }
  
  .sidebar-sticky {
    border-right:2px solid #12264B;
    margin-top:75px;
    height: calc(100vh - 140px);
    top:48px;
    padding-top: .5rem;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
  }
  .sidebar-sticky ul li a::after {
    content:"";
    display: block;
    height:1px;
    border-bottom:1px solid #efefef;
    position:absolute;
    bottom:0;
    left:30px;
    right:30px;
  }
  .sidebar-sticky ul li:last-child a::after {
    border:0;
  }
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  .sidebar .nav-link .toc-icon {
    margin-right: 15px;
    margin-left: 18px;

  }
  .sidebar-sticky ul li a span {
    border-radius:50px;
    display:inline-block;
    width:40px;
    height:40px;
    background:#88A9D4;
    text-align: center;
    line-height: 40px;
    margin-right:18px;
    color:#fff;
  }
  
  .sidebar-sticky ul li.active a {
    background:#3071BA;
    color:#fff;
    padding-right: 80px;
  }
  
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  /*
   * Header
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }
  
  .navbar {
    background-repeat: no-repeat;
    background-color:#12264B;
    background-image: url(../images/banner-image-scrolled-version.jpg);
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    display: block!important;
  }
  
  
  /*
   * Utils
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

 /*
   * For padding of sidebar in firefox, breaks if removed
   */
   @supports (-moz-appearance:none) {
    .sidebar-sticky {
      /* padding-top: 120px !important; */
    }
  }
  

  @media (min-width: 992px) {
    .main-content {
      padding-left:60px !important;
      padding-right:60px !important;
    }  

  }

  .logo-secondary {
    fill: #ffffff;
  }