{{ define "main" }}
<main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4 main-content" style="padding-top: 30px;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <div class="container-fluid">{{ .Content }}</div>
        </div>
        
        
            <img src="../../../assets/images/chris-sahota.png" alt="Chris Sahota" style="float:left; margin-right:15px; margin-bottom:10px;"/>

        <footer class="footer">
            <div class="container">
                  <div class="bg-light py-5">
          
                <div class="row">
                  <div class="col-md-6 col-sm-6 text-center">
                      <a class="font-weight-bold" href=""></a>
                  </div>
                  <div class="col-md-6 col-sm-6 text-center">
                      Next:
                      <a class="font-weight-bold text-center" href="/guest-editorials/">Proceed to Report</a>
                
                  </div>
                </div>
              </div>
            </div>
        </footer>


   
    {{ end }}