<!DOCTYPE html>
<html lang="en">
        {{ partial "head.html" . }}
    <body>
        <div id="jumbo" class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4 text-white">2020 GLOBAL M&A REVIEW & 2021 OUTLOOK</h1>
              <h3 class="text-white">#NavigateTheFuture</h3>
              <a href="/about-foreword/" class="btn btn-outline-light mt-5 sign-up" role="button">Sign up to access the report</a>
            </div>
          </div>
        </body>
</html>