<nav class="col-md-3 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">    
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item h6 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
          <a class="nav-link active" href="{{ .URL }}" title="{{ .Title }}">
            <span class="toc-icon menu-{{ .Identifier }}">{{.Identifier}}</span>
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>