$body-bg: #fefefe;
$body-color: #111;


$theme-colors: (
  "primary": #3071ba,
  "danger": #ff4136
);

.row {
  .col {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  h2 {
    display: inline-block;
    margin-bottom: 1.7rem;
  }
  h3 {
    display: inline-block;
    margin-bottom: 1.7rem;
  }
  h4 {
    display: inline-block;
    margin-bottom: 1.5rem;
  }
}

$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;

@import "bootstrap/scss/bootstrap";